@use "../style/abstract/variables" as *;

.footer {
    width: 100%;
    margin: 1rem auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    background-color: $color-primary-soft;
    box-shadow: 0 5px 5px $color-border;
    font-family: $font-text;
    color: $color-primary;
    font-size: 14px;

    img {
        width: 80%;
        margin: 0 auto;
    }
}