//Palette Colori  numa meditazione
$color-primary: #73558D;
$color-bg: #FAF8FC;
$color-surface-card: #FFFFFF;
$color-primary-soft: #EEE8F3;
$color-text: #332A3C;
$color-text-muted: #756B7C;
$color-border: #E8E2EC;
$color-success: #98B8A0;
$color-info-soft: #EAF1FA;
$color-soft-green: #DCEBDD;

//Font e tipografia
$font-title: "Nunito", sans-serif;
$font-text: "Inter", sans-serif;
$font-size-standard: 16px;
$font-size-title: 62px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-small: 14px;

//Ombre
$shadow-small: 0 4px 16px rgba(74, 58, 94, .7);
$shadow-medium: 0 8px 30px rgba(74, 58, 94, .15);

//Bordi radius
$radius-small: 12px;
$radius-medium: 18px;
$radius-large: 24px;
$radius-xl: 32px;

//Spazi
$space-12: 12px